*{
    font-family: 'Lato', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background: #c7c7c7;
}
.header-container{
    height: 300px;
    width: 100%;
    background: url(../imgs/back.jpg) center bottom fixed;
    background-size: cover;
}
.header-container h1{
    text-align: center;
    width: 450px;
    margin: auto;
    padding-top: 70px;
    font-size: 5.5em;
    font-weight: 400;
    color: #ffffff;
}
.header-container h4{
    text-align: center;
    width: 450px;
    margin: auto;
    font-size: 1.8em;
    font-weight: 400;
    color: rgb(44, 195, 255);
}
.container{
    width: 80%;
    height: 2000px;
    margin: 20px auto;
    border-radius: 40px;
    background-color: white;
}
.imagem{

    height: 1200px;
    width: 67%;
    margin: auto;
}
.imagem img{
    margin: 20px;
    height: 1200px;
    border: 5px dashed #000;
    border-radius: 20px;
}